{% extends 'base.html' %}


{% block content %}

<section id="galleria">

	<div class="col-xs-12 dettaglio">
		<div class="flexslider">
		  <ul class="slides">
			{% for immagini in immagini_list %}
			{% load cropping%}
		    <li>
				<img src="{% cropped_thumbnail immagini "croppingslide" %}" class="img-responsive img-top">
		    </li>
			{% endfor %}
		{% for immagini in immagini_list %}
		<div class="col-xs-12 xol-sm-6 col-md-4 thumgallery">{% load cropping%}
			<a href="/media/{{immagini.image}}" data-lightbox="galleria">
			<img src="{% cropped_thumbnail immagini "croppingthumb" %}" class="img-responsive img-thumb">
			</a>
		</div>
		{% endfor %}
	</div>

</section>


{% endblock %}