body { 
  background: url(img/sfondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* ---- NAVIGATION ---- */

#navigation .nav-stacked {
	margin-top: 30px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 20px;
}

#navigation .nav > li > a {
	padding-top:5px;
	padding-bottom:5px;
}

#navigation > li, li:hover, li:active {
	background-color: transparent;
}

#navigation > a, a:hover, a:link {
	color: #003153;
	/*font-family: 'Bad Script', cursive;*/
	font-family: 'Courgette', cursive;
	font-size: 16px;
	padding-top:0px;
	padding-bottom:0px;
}
